<!DOCTYPE html>
<html>
<head>
    <title>Secure Question Paper Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="center">
<div class="card login">
    <h1>Secure Question Paper Management</h1>
    <p>Five-tier security architecture</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}

    <form method="POST">
        <label>Username</label>
        <input name="username" required placeholder="setter or admin">

        <label>Password</label>
        <input type="password" name="password" required placeholder="Password">

        <button>Login</button>
    </form>

    <div class="demo">
        <b>Demo Login</b><br>
        Question Setter: <code>setter / setter123</code><br>
        Administrator: <code>admin / admin123</code>
    </div>
</div>
</body>
</html>
